<!DOCTYPE html>
<html>
<head>
	<title>Sushi Samurai</title>
	<link rel="stylesheet" type="text/css" href="css/sushisamurai.css">

<style type="text/css">
img {
	width: 95%;
	height: 50%;
}
	
main {
	display: flex;
	flex-direction: row;
}

#About {
	width: 25%;
}

#Menu {
	width: 25%;
}

#Reservations {
	width: 25%;
}

#Contact {
	width: 25%;
}

</style>
</head>

<body>
<div class="topnav">
  <a class="active" href="./about">About Us</a>
  <a href="./menu">Menu</a>
  <a href="./contact">Contact</a>
  <a href="./reservation">Reservations</a>
</div>
	<div class="background-image">
		<h1>Welcome to Sushi Samurai</h1>
	</div>
<main>
	<section id="About">
		<a href="./about">
			<h3>About</h3>
			<img src="images/About-JapaneseSteakhouse.jpg">
		 </a>
	</section>
	<section id="Menu">
		<a href="./menu">
			<h3>Menu</h3>
		    <img src="images/Menu-JapaneseSteakhouse.jpg">
		</a>
	</section>
	<section id="Reservations">
		<a href="./reservation">
			<h3>Reservations</h3>
			<img src="images/Reservations-JapaneseSteakhouse.jpg">
		</a>
	</section>
	<section id="Contact">
	  <a href="./contact">
		<h3>Contact</h3>
		<img src="images/Contact-JapaneseSteakhouse.jpg">
	  </a>
	</section>

</main>
</body>
</html>